a {
  color: #24d4f7;
  transition: ease-in-out color .15s;
  text-decoration: none;
}

a:hover {
  color: #24d4f7;
  text-decoration: underline;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* Logo related
-------------------------------------------------- */
.hover-image, .padas_logo:hover .normal-image {
  display: none;
}

.padas_logo:hover .hover-image {
  display: inline;
}

.padas_header_logo {
  height: 40px;
}

.padas_footer_logo {
  height: 100px;
}
   
/*
 * Background related
 */
.bg-padas-light {
  background-color: #f1f3f5 !important;
}

a.bg-padas-light:hover, a.bg-padas-light:focus,
button.bg-padas-light:hover,
button.bg-padas-light:focus {
  background-color: #f1f3f5 !important;
}

.bg-padas-dark {
  background-color: #353637 !important;
}

.bg-padas-color {
  background-color: #24d4f7 !important;
}

/*
 * Link colors
 */
 .link-padas-light {
  color: #f1f3f5 !important;
}

a.link-padas-light:hover, a.link-padas-light:focus {
  color: #24d4f7 !important;
}

.link-padas-dark {
  color: #353637 !important;
}

a.link-padas-dark:hover, a.link-padas-dark:focus {
  color: #24d4f7 !important;
}

/*
 * Text colors
 */
.text-padas-light {
  color: #f1f3f5 !important;
}

a.text-padas-light:hover, a.text-padas-light:focus {
  color: #cbd3da !important;
}

.text-padas-dark {
  color: #353637 !important;
}

a.text-padas-dark:hover, a.text-padas-dark:focus {
  color: #121416 !important;
}

.text-padas-color {
  color: #24d4f7 !important;
}

a.text-padas-color:hover, a.text-padas-color:focus {
  color: #353637 !important;
}

.text-padas-error {
  color: #b62d2d;
}

/*
 * Border
 */
.border-padas-color {
  border: 1px solid #24d4f7;
}
.border-padas-light {
  border: 1px solid #f1f3f5;
}
.border-padas-dark {
  border: 1px solid #353637;
}

/*
 * Button related utilities
 */
.btn-padas {
  color: #353637;
  border-color: #24d4f7;
}

.btn-padas:hover {
  color: #f1f3f5;
  background-color: #24d4f7;
  border-color: #24d4f7;
}

.btn-padas-delete {
  color: #353637;
  border-color: #b62d2d;
}

.btn-padas-delete:hover {
  color: #f1f3f5;
  background-color: #b62d2d;
  border-color: #b62d2d;
}

.btn-padas-light {
  color: #353637;
  background-color: #f1f3f5;
  border-color: #f1f3f5;
}

.btn-padas-light:hover {
  color: #f1f3f5;
  background-color: #24d4f7;
  border-color: #24d4f7;
}

.btn-padas-action {
  color: #f1f3f5;
  background-color: #24d4f7;
  border-color: #f1f3f5;
}

.btn-padas-action:hover {
  color: #353637;
  background-color: #f1f3f5;
  border-color: #24d4f7;
}

.btn-padas-faq {
  color: #353637;
  background-color: #f1f3f5;
  border-color: #f1f3f5;
  text-decoration: none;
}

.btn-padas-faq:hover {
  color: #24d4f7;
}

.btn-toggle,
.btn-toggle a {
  display: inline-flex;
  align-items: center;
  color: #353637;
  text-decoration: none;
}

.btn-toggle:hover,
.btn-toggle a:hover,
.btn-toggle[aria-expanded="true"]:hover,
.btn-toggle[aria-expanded="true"] a:hover {
  color: #f1f3f5;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  font-family: "bootstrap-icons";
  content: "\f285"; /* chevron-right */
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: #353637;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
/* Following rulesets can be used for further customization
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
}
*/

/*
 * Link utilities
 */
.link-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 400;
  color: #353637;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.link-toggle:hover,
.link-toggle:focus {
  color: #353637;
  font-weight: 500;
  text-decoration: none;
}

.link-toggle::before {
  width: 1.25em;
  line-height: 0;
  font-family: "bootstrap-icons";
  content: "\f285"; /* chevron-right */
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.link-toggle[aria-expanded="true"] {
  color: #353637;
}

.link-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

/*
 * Positioning
 */

.padas-behind {
  z-index: 10;
}

.padas-front {
  z-index: 20;
}

